
/* page3 */

.link1 {
    font-size: 20px;
    padding:10px;
    background-color: #ff3300; 
}

.link2 {
    font-size: 20px;
    padding: 10px;
    background-color: green;
}

.link3 {
    font-size: 20px;
    padding:10px;
    background-color: yellow;
    background-image: url("http://images2.wikia.nocookie.net/zelda/images/e/ec/Triforce.gif");
    background-position: 50% 40%; 
    background-repeat: no-repeat;
}

.linkIndex {
    font-size: 20px;
    padding:10px;
    background-image: url("https://media.giphy.com/media/1qj9rg3xfD9Hq/giphy.gif"); 
}
#idxdiv{
    height: 200px;
    background-color: #00F2FF;
}
#idxh2{
    border-top: 20px solid #00F2FF;
    text-align: center;
    background-color: #62FF00;
}

#idxdesc{
    margin: 5%;
}